* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white: #F9F5F3;
    --black: #301b1a;
    --primary: #ECDFD7ff;
    --secondary: #bd8b7a;
    --third: #a36053;
    --medium: #6e413e;
    --contrast: #3a1d0d;
    --fondo-color: rgb(245, 231, 225);
    --yogi: yogi;
    --theano: theano;
}



/* MOBILE HEADER */
#m-nav {
    background-color: var(--secondary);
    padding: .3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.nav-brand {
    display: inline-flex;
    align-items: center;
    gap: .3rem;
    font-family: var(--yogi);
    color: var(--contrast);
    font-size: 1.5rem;
}

.nav-brand p {
    margin-top: .5rem;
}

.icon-menu-container {
    min-height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
}

.menu-icon path {
    stroke: var(--contrast);
    stroke-width: 5;
    stroke-linecap: round;
    transition: all .3s;
    transform: rotate(0deg);
    will-change: transform, opacity;
    transform-origin: center;
}

.icon-menu-responsive-link:hover path,
.icon-menu-responsive-link:focus path,
.icon-menu-responsive-link:active path {
    stroke: var(--contrast);
}

.menu-icon.active path:nth-child(1) {
    opacity: 0;
}

.menu-icon.active path:nth-child(4) {
    opacity: 0;
}

.menu-icon.active path:nth-child(2) {
    transform: rotate(45deg);
}

.menu-icon.active path:nth-child(3) {
    transform: rotate(-45deg);
}

#nav-m-links {
    display: flex;
    flex-direction: column;
    width: 100svw;
    height: auto;
    min-height: 96svh;
    background-color: var(--medium);
    position: absolute;
    padding: 1.5rem;
    left: -100%;
    transition: transform .5s;
    padding-top: 3rem;
}

.menu-icon.active~#nav-m-links {
    transform: translateX(100%);
}

.nav-m-item,
.nav-m-item-dropdown {
    list-style: none;
    border-bottom: 1px solid var(--primary);
    margin-bottom: 10px;
}

.d-dropdown-arrow-down,
.dropdown-arrow-down {
    fill: var(--primary);
    rotate: -90deg;
    position: relative;
    top: .4rem;
    left: .7rem;
}

.d-dropdown-arrow-up,
.dropdown-arrow-up {
    fill: var(--primary);
    rotate: 90deg;
    position: relative;
    top: .4rem;
    left: .7rem;
    display: none;
}

.nav-m-link {
    text-decoration: none;
    color: var(--primary);
    font-family: var(--theano);
    font-size: 1.3rem;
    display: flex;
}

.dropdown-menu {
    gap: .7rem;
    list-style: none;
    margin: 10px 10px;
    display: none;
}

.dropdown-toggle.active .dropdown-arrow-down {
    display: none;
}

.dropdown-toggle.active .dropdown-arrow-up {
    display: inline;
}

.dropdown-toggle.active~.dropdown-menu {
    display: grid;
    padding: 10px 7px;
}

.dropdown-m-item {
    color: var(--primary);
    text-decoration: none;
    font-size: 1.2rem;
    font-family: var(--theano);
}

.social-media {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1.3rem;
    font-family: var(--theano);
    color: var(--primary);
}

.social-media-icons {
    border: none;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

.social-media-icons div {
    background-color: var(--primary);
    border-radius: 100%;
    display: flex;
}

.youtube-div {
    position: relative;
    background-color: var(--primary);
    width: 1.5rem;
    height: 1rem;
    top: .5rem;

}

.youtube-icon {
    position: absolute;
    width: 40px;
    right: -9px;
    bottom: -8px;
}

/* DESKTOP HEADER */
#d-header {
    display: none;
    padding: .3rem 1rem;
}

.d-navbar {
    display: flex;
    align-items: flex-end;
    /* background-color: var(--secondary); */
    width: 100%;
}

.d-navbar-links {
    display: flex;
    list-style: none;
    align-items: center;
    font-family: var(--theano);
    font-size: 1.4rem;
    gap: 1.5rem;
    margin-left: 2rem;
    margin-bottom: .2rem;
}

.d-navbar-link a::before {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: var(--contrast);
    transition: all .3s;
    position: absolute;
    bottom: 5px;
    left: 50%;
}

.d-navbar-link a:hover::before {
    left: 0;
    width: 100%;
}

.d-navbar-link a {
    text-decoration: none;
    color: var(--contrast);
    position: relative;
}

.d-navbar-link.drop {
    position: relative;
    /* background-color: var(--secondary); */
    cursor: pointer;
}

.d-navbar-link.drop:hover a .d-dropdown-arrow-down {
    display: none;
}

.d-navbar-link.drop:hover a .d-dropdown-arrow-up {
    display: inline;
}

.d.dropdown-menu {
    position: absolute;
    top: 70%;
}

.d-navbar-link.drop:hover .d.dropdown-menu {
    display: block;
    background-color: var(--secondary);
}

.d-dropdown-arrow-up,
.d-dropdown-arrow-down {
    width: 1rem;
    left: 0;
    top: .5rem;
    fill: var(--contrast);
}

.dropdown-d-item {
    padding: 1rem;
    display: block;
}

.d-navbar2-container {
    display: flex;
    gap: .5rem;
}

.cart-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    padding: .3rem;
    margin-top: .2rem;
}

.cart-link:hover {
    background-color: var(--primary);
}

.icon-shopping-cart {
    fill: none;
    stroke: var(--contrast);
}

.icon-login-container {
    height: 100%;
}

.login-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--third);
    text-decoration: none;
    font-family: var(--theano);
    font-size: large;
    font-weight: 500;
    padding: .3rem;
    border-radius: 20px;
    border: 3px solid var(--contrast);
    margin-top: .1rem;
    color: var(--primary);
    gap: .3rem;
}

.login-link:hover {
    background-color: var(--primary);
    color: var(--contrast);
}

.default-log-img{
    width: 40px;
    border-radius: 100px;
}

.login-container {
    display: flex;
    padding: 2rem;
    margin-top: 2rem;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login-form {
display: flex;
flex-direction: column;
padding: 1rem;
color: var(--contrast);
font-family: var(--theano);
background-color: var(--secondary);
width: 80%;
max-width: 25rem;
min-width: 18rem;
}

.login-input {
    margin-bottom: .5rem;
    font-size: 1.3rem;
}

.login-button {
    margin-top: .5rem;
    margin-bottom: .5rem;
    background: none;
    background-color: var(--primary);
    padding: .3rem 0rem;
    border-color: var(--contrast);
    color: var(--contrast);
    font-family: var(--theano);
    font-size: .9rem;
    border-radius: .3rem;
}

.login-container h2 {
    font-family: var(--yogi);
    font-size: 2.1rem;
    text-wrap: nowrap;
    color: var(--contrast);
}

.login-container img {
    width: 80%;
    max-width: 25rem;
    min-width: 18rem;
}

.register-link {
    font-size: .8rem;
}

@media (min-width: 1000px) {
    #d-header {
        display: flex;
        background-color: var(--secondary);
    }
    
    #m-header {
        display: none;
    }

    .login-form {
        width: 40%;
    }
    
    .login-container h2 {
        font-family: var(--yogi);
        font-size: 2.5rem;
        text-wrap: nowrap;
    }

}

body {
    background-color: var(--primary);
}





@font-face {
    font-family: yogi;
    src: url(./groening.ttf);
}

@font-face {
    font-family: theano;
    src: url(./Khyay-Regular.ttf);
}